@import 'reset.scss';
@font-face {
    font-family: OpenSans;
    src: url('../fonts/OpenSans-Regular.ttf');
}
@font-face {
    font-family: Reey;
    src: url('../fonts/Reey-Regular.otf');
}
@font-face {
    font-family: OpenSansItalic;
    src: url('../fonts/OpenSans-Italic.ttf');
}
@font-face {
    font-family: OpenSansBold;
    src: url('../fonts/OpenSans-Bold.ttf');
}
@font-face {
    font-family: Montserrat;
    src: url('../fonts/Montserrat-Regular.ttf');
}
* {
    font-family: OpenSans;
}
header {
    background: url('../img/png/background_header.png') calc(50% + 320px) 260px no-repeat, url('../img/jpg/background-header.jpg') 0 0 / 100% 1056px no-repeat;
    & .header__container {
        display: flex;
        flex-direction: column;
        padding: 45px 0 0 0;
        max-width: 1440px;
        margin: auto;
        & .header__header {
            padding: 0 45px;
            display: flex;
            & ul {
                margin-left: auto;
                display: flex;
                flex-wrap: wrap-reverse;
                width: 100%;
                max-width: 795px;
                align-items: center;
                justify-content: space-between;
                & li {
                    font-size: 16.7px;
                    line-height: 1.2;
                    font-weight: 700;
                    text-transform: uppercase;
                    letter-spacing: 0.2em;
                    color: #ffffff;
                    display: inline-block;
                }
                & input {
                    background: url('../img/png/header_input_search.png') 121px 50% / 30px no-repeat, #fff;
                    width: 100%;
                    max-width: calc(183px - 32px * 2);
                    padding: 12px 32px 9px;
                    font-size: 30px;
                    border-radius: calc(62px / 2);
                    border: none;
                    &:focus {
                        background: #fff;
                    }
                }
            }
        }
        & .header__description {
            padding: 100px;
            & .header__logo {
                & .header__logo-image {
                    background: url('../img/png/header__logo.png');
                    width: 136px;
                    height: 109px;
                }
                & .header__logo-name {
                    padding: 43px 0 0;
                    font-family: Reey;
                    font-size: 91.7px;
                    line-height: 1.2;
                    font-weight: 400;
                    text-shadow: 0px 5px 5px rgba(84,82,79,0.21);
                    color: #fff;
                }
            }
            & .header__slogan {
                padding-top: 108px;
                font-family: OpenSansItalic;
                font-size: 25px;
                line-height: 1.2;
                font-weight: 700;
                font-style: italic;
                letter-spacing: 0.2em;
                color: #fff;
            }
            & button {
                margin: 80px 0 25px;
                border-radius: calc(58px / 2);
                background: #fff;
                border: 0;
                padding: 14px 36px;
                font-size: 25px;
                line-height: 1.2;
                font-weight: 900;
                color: #2e3034;
                font-family: OpenSansBold;
            }
            & .header__description-text {
                max-width: 480px;
                font-family: OpenSansItalic;
                font-size: 20.9px;
                line-height: 1.2;
                font-weight: 400;
                letter-spacing: 0.05em;
                color: #ffffff;
            }
        }
        & h1 {
            text-align: center;
            padding: 180px 0 70px;
            font-family: Reey;
            font-size: 75px;
            line-height: 1.2;
            font-weight: 400;
            color: #222328;
        }
        & p {
            margin: auto;
            text-align: center;
            max-width: 693px;
            font-size: 27.1px;
            line-height: 1.2;
            font-weight: 400;
            color: #2f3135;
        }
    }
    & .grid__container {
        margin: 97px 0 122px;
        display: grid;
        column-gap: 163px;
        grid-template-columns: repeat(auto-fit, minmax(334px, 1fr));
        & img {
            display: flex;
            margin: auto;
            width: 100%;
            max-width: 384px;
            max-height: 385px;
        }
        & h2 {
            text-align: center;
            font-size: 29.2px;
            line-height: 1.2;
            font-weight: 700;
            color: #343434;
        }
        & p {
            text-align: justify;
            font-size: 23px;
            line-height: 1.2;
            font-weight: 400;
            color: #343434;
        }
    }
    & button {
        background-color: #343434;
        font-size: 23.2px;
        line-height: 21px;
        font-weight: 800;
        text-transform: uppercase;
        letter-spacing: 0.2em;
        color: #fff;
        width: 334px;
        height: 75px;
        border: none;
        border-radius: calc(75px / 2);
        margin: 0 auto 50px;
    }
}
main {
    & .block1 {
        background: #27292c;
        padding: 108px 0 71px;
        & .block1__container {
            display: flex;
            flex-direction: column;
            margin: auto;
            max-width: 1050px;
            & h1 {
                font-family: Reey;
                font-size: 75px;
                line-height: 52px;
                font-weight: 400;
                color: #fff;
                text-align: center;
                padding-bottom: 90px;
            }
            & .grid__container {
                padding-bottom: 75px;
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
                column-gap: 41px;
                font-family: Montserrat;
                font-size: 16.7px;
                line-height: 25px;
                font-weight: 400;
                color: #fff;
            }
            & button {
                margin: auto;
                border: none;
                font-family: Montserrat;
                font-size: 26.4px;
                line-height: 1.2;
                font-weight: 700;
                color: #27292c;
                width: 270px;
                height: 58px;
                background-color: #fefefe;
                text-transform: uppercase;
                border-radius: calc(58px / 2);
            }
        }
    }
    & .block2 {
        & .block2__container {
            padding: 54px 0 0 0;
            max-width: calc(1440px - 264px);
            margin: auto;
            & .block2__section {
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
                column-gap: 66px;
                align-items: center;
                & img {
                    width: 100%;
                }
                & .block2__description {
                    display: flex;
                    flex-direction: column;
                    & h1 {
                        font-family: OpenSansBold;
                        font-size: 58.4px;
                        line-height: 1.2;
                        color: #27292c;
                    }
                    & p {
                        padding: 40px 0;
                        font-size: 29.2px;
                        line-height: 23px;
                        font-weight: 400;
                        color: #27292c;
                    }
                    & button {
                        font-family: OpenSansBold;
                        width: 334px;
                        height: 75px;
                        background-color: #27292c;
                        font-size: 29.2px;
                        line-height: 21px;
                        text-transform: uppercase;
                        letter-spacing: 0.2em;
                        color: #fff;
                        border: none;
                        border-radius: calc(75px / 2);
                    }
                }
            }
            & .block2__section:nth-child(2) {
                padding-top: 125px;
            }
        }
    }
    & .block3 {
        margin-top: -175px;
        padding-top: 350px;
        min-height: 782px;
        margin-bottom: -175px;
        padding-bottom: 350px;
        background: url('../img/png/block3_tree.png') 50% 10px / 1519px 840px no-repeat, url('../img/png/block3_pizza.png') calc(50% + 100px) 100% / 1013px 861px no-repeat, url('../img/jpg/background-header.jpg') 0 175px / 100% 1124px no-repeat;
        & h1 {
            text-align: center;
            font-family: Reey;
            font-size: 58.4px;
            line-height: 1.2;
            font-weight: 400;
            color: #f8f6f1;
        }
        & p {
            font-family: Montserrat;
            font-size: 25px;
            line-height: 33px;
            font-weight: 400;
            color: #f8f6f1;
            padding: 60px 0 40px;
            max-width: 740px;
            margin: auto;
            text-align: center;
        }
        & hr {
            width: 162px;
            height: 10px;
            background-color: #fafafa;
        }
    }
    & .block4 {
        & .block4__container {
            max-width: 1140px;
            margin: auto;
            padding-top: 140px;
            & .block4__grid__container {
                padding-bottom: 233px;
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
                column-gap: 30px;
                & .block4__grid__item {
                    & h1 {
                        text-align: center;
                        font-family: Reey;
                        font-size: 41.7px;
                        line-height: 33px;
                        font-weight: 400;
                        color: #393939;
                        padding-bottom: 40px;
                    }
                    & p {
                        font-size: 18.8px;
                        line-height: 24px;
                        font-weight: 400;
                        color: #333d42;
                    }
                }
            }
            & .block4__description {
                max-width: 790px;
                font-size: 25px;
                line-height: 1.2;
                font-weight: 600;
                color: #3f3f3f;
                margin: auto;
                text-align: center;
            }
            & .block4__main-word {
                text-align: center;
                font-family: OpenSansBold;
                padding-top: 56px;
                font-size: 20.9px;
                line-height: 33px;
                font-weight: 700;
                color: #3f3f3f;
                padding-bottom: 150px;
            }
        }
    }
    & .block5 {
        background: url('../img/png/block5-tree.png') 50% 50% no-repeat, url('../img/jpg/block5-background.jpg') 0 90px / 100% 760px no-repeat;
        min-height: 956px;
        padding-top: 90px;
        h1 {
            padding-top: 260px;
            text-align: center;
            font-size: 75px;
            line-height: 1.2;
            font-weight: 700;
            color: #ffffff;
        }
        p {
            max-width: 895px;
            text-align: center;
            margin: auto;
            font-size: 29.8px;
            line-height: 1.2;
            font-weight: 400;
            color: #ffffff;
            padding: 70px 0;
        }
        & form {
            max-width: 770px;
            margin: auto;
            border: none;
            & input[type=text] {
                padding-left: 35px;
                padding-right: 60px;
                border: none;
                font-size: 25px;
                line-height: 1.2;
                font-weight: 400;
                color: #54524f;
                width: calc(100% - 262px);
                height: 63px;
                font-size: 30px;
                color: #A09F9D;
                border-radius: calc(63px / 2);
                &:focus {
                    color: #000;
                }
            }
            & input[type=submit] {
                border: none;
                margin: 0;
                width: 222px;
                height: 66px;
                font-size: 25px;
                line-height: 1.2;
                font-weight: 700;
                text-transform: uppercase;
                color: #ffffff;
                background: #54524f;
                border-radius: calc(63px / 2);
                margin-left: -60px;
                margin-top: -6px;
            }
        }
    }
}
.mainFather {
}